h5py==3.12.1
jupyter==1.1.1
matplotlib==3.10.0
numpy==1.26.4
protobuf==5.28.3
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
pandas==2.2.3
pynput==1.7.7
pyyaml==6.0.2
pyzmq==26.2.0
rerun-sdk==0.20.0
scipy==1.14.1
trimesh==4.5.2
urdf_parser_py==0.0.4